<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />
  <meta name='description' content='nocdeclub2'>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="keywords" content="nodejs, node, express, connect, socket.io" />
  <!-- see http://smerity.com/articles/2013/where_did_all_the_http_referrers_go.html -->
  <meta name="referrer" content="always">
  <meta name="author" content="feitian124@qq.com" />
  <link rel="stylesheet" href="/public/libs/bootstrap/css/bootstrap.css">
</head>
<body>
    {% block main %}
      This is the default content of layout
    {% endblock %}
</body>
</html>
